.img {
  margin-top: -80px;
  margin-left: 50px;
  width: auto;
  height: auto;
}

.card:visited,
.card:link {
  transition: color 0.2s, background-color 0.2s;
}
.card:hover,
.card:active {
  background-color: #3292a6;
  color: #fff;
}
.fab {
  color: #fff;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
  }
  #showcase h1 {
    font-size: 4rem;
  }

  .mb-resp {
    margin-bottom: 1rem;
  }
}
